ipython
jupyterlab
matplotlib
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
torch
d2l==1.0.3
kaggle
opencv-python
torchvision
fastapi[standard]
python-multipart
redis
fastapi-limiter
pydantic-settings